{%- comment -%}
  __  __          _             
 |  \/  |__ _ _ _| |___  _ _ __ 
 | |\/| / _` | '_| / / || | '_ \
 |_|  |_\__,_|_| |_\_\\_,_| .__/
                          |_|
{%- endcomment -%}

<section>
    <div class="collection-navigator">
        <h1 class="collection-navigator-h1">{{ section.settings.heading | escape }}</h1>
        <div class="collection-navigator-options desktop">
            {% if section.settings.show_option_1 %}
            <div class="collection-navigator-option" id="navigator-option-1">
                {% include 'responsive-image' with
                        image: section.settings.option_1_img,
                        max_width: 20,
                        max_height: 20,
    %}
                <p class="collection-navigator-option-text">{{ section.settings.option_1_text | escape }}</p>
            </div>
            {% endif %}
            {% if section.settings.show_option_2 %}
            <div class="collection-navigator-option" id="navigator-option-2">
                {% include 'responsive-image' with
                        image: section.settings.option_2_img,
                        max_width: 20,
                        max_height: 20,
    %}
                <p class="collection-navigator-option-text">{{ section.settings.option_2_text | escape }}</p>
            </div>
            {% endif %}
            {% if section.settings.show_option_3 %}
            <div class="collection-navigator-option" id="navigator-option-3">
                {% include 'responsive-image' with
                        image: section.settings.option_3_img,
                        max_width: 20,
                        max_height: 20,
    %}
                <p class="collection-navigator-option-text">{{ section.settings.option_3_text | escape }}</p>
            </div>
            {% endif %}
        </div>
        <select class="collection-navigator-options-dropdown mobile" id="testme">
            {% if section.settings.show_option_1 %}
            <option class="collection-navigator-options-dropdown-option mobile" value="1">{{ section.settings.option_1_text | escape }}</option>
            {% endif %}
            {% if section.settings.show_option_2 %}
            <option class="collection-navigator-options-dropdown-option mobile" value="2">{{ section.settings.option_2_text | escape }}</option>
            {% endif %}
            {% if section.settings.show_option_3 %}
            <option class="collection-navigator-options-dropdown-option mobile" value="3">{{ section.settings.option_3_text | escape }}</option>
            {% endif %}
       </select>
    </div>
</section>

{%- comment -%}
  ___     _                   
 / __| __| |_  ___ _ __  __ _ 
 \__ \/ _| ' \/ -_) '  \/ _` |
 |___/\__|_||_\___|_|_|_\__,_|

{%- endcomment -%}

{% schema %}
{
    "name":"Collection navigator",
    "settings":[
      {
         "type":"header",
         "content":"Header"
      },
      {
         "type":"text",
         "id":"heading",
         "label":"Heading"
      },
      {
         "type":"header",
         "content":"Option 1"
      },
      {
         "type":"checkbox",
         "id":"show_option_1",
         "label":"Show option 1"
      },
      {
         "type":"image_picker",
         "id":"option_1_img",
         "label":"Option 1 Image"
      },
      {
         "type":"text",
         "id":"option_1_text",
         "label":"Option 1 text"
      },
      {
         "type":"header",
         "content":"Option 2"
      },
      {
         "type":"checkbox",
         "id":"show_option_2",
         "label":"Show option 2"
      },
      {
         "type":"image_picker",
         "id":"option_2_img",
         "label":"Option 2 Image"
      },
      {
         "type":"text",
         "id":"option_2_text",
         "label":"Option 2 text"
      },
      {
         "type":"header",
         "content":"Option 3"
      },
      {
         "type":"checkbox",
         "id":"show_option_3",
         "label":"Show option 3"
      },
      {
         "type":"image_picker",
         "id":"option_3_img",
         "label":"Option 3 Image"
      },
      {
         "type":"text",
         "id":"option_3_text",
         "label":"Option 3 text"
      }
    ],
    "presets":[
       {
          "name":"Collection navigator",
          "category":"Collection"
       }
    ]
 }
{% endschema %}

{%- comment -%}
 ___         _      _      
/ __| __ _ _(_)_ __| |_ ___
\__ \/ _| '_| | '_ \  _(_-<
|___/\__|_| |_| .__/\__/__/
              |_|          
{%- endcomment -%}

{% javascript %}
   const init = () => {
      document.getElementById('testme').addEventListener('change', () => {navigateTo(document.getElementById('testme').value)});

      Array.from(document.getElementsByClassName('collection-navigator-option'))
      .forEach(navigator => {
         navigator.addEventListener('click', () => {navigateTo(navigator.id.slice(17))});
      });
   }

   const navigateTo = (target) => {
      document.getElementById(`collection-extended-${target}`).scrollIntoView({behavior: 'smooth' });
   }
   
   init()
{% endjavascript %}

{%- comment -%}
  ___ _        _        
 / __| |_ _  _| |___ ___
 \__ \  _| || | / -_|_-<
 |___/\__|\_, |_\___/__/
          |__/          
{%- endcomment -%}

{% stylesheet %}
    .collection-navigator {
        display: flex;
        padding: 1em;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
    .collection-navigator-h1 {
        padding: 0em .5em 0em 0em;
    }
    .collection-navigator-options {
        display: none;
    }
    .collection-navigator-option {
        display: flex;
        align-items: center;
        padding: 1em 2.5em;
        margin: auto;
    }

    .collection-navigator-option-text {
        padding: 0em 1em;
    }

    .collection-navigator-options-dropdown {
      padding: 0em 0em 0em .5em;
   }

    @media (min-width: 900px) {
      .collection-navigator-h1 {
         padding: 0em 1em 0em 2.5em;
     }
      .collection-navigator-options {
         display: flex;
         flex: auto;
         overflow-x: auto;
     }
    }
{% endstylesheet %}