{%- comment -%}
  __  __          _             
 |  \/  |__ _ _ _| |___  _ _ __ 
 | |\/| / _` | '_| / / || | '_ \
 |_|  |_\__,_|_| |_\_\\_,_| .__/
                          |_|
{%- endcomment -%}

<section>
    {%- assign collection = collections[section.settings.collection] -%}
    <div class="collection" id="collection-extended-{{section.settings.index}}">
        <aside class="collection-aside">
            {% include 'responsive-image' with
            image: section.settings.collection_img,
            max_width: 500,
            max_height: 500 %}
        </aside>
        <main class="collection-main">
            <h1 class="collection-main-h1">{{ section.settings.headline | escape }}</h1>
            <div class="collection-main-features">
                {% if section.settings.show_feature_1 %}
                <div class="collection-main-feature">
                    {% include 'responsive-image' with
                image: section.settings.feature_1_img,
                max_width: 100,
                max_height: 100
              %}
                    <p class="collection-main-feature-text">{{ section.settings.feature_1_text | escape }}</p>
                </div>
                {% endif %}
                {% if section.settings.show_feature_2 %}
                <div class="collection-main-feature">
                    {% include 'responsive-image' with
                image: section.settings.feature_2_img,
                max_width: 100,
                max_height: 100
              %}
                    <p class="collection-main-feature-text">{{ section.settings.feature_2_text | escape }}</p>
                </div>
                {% endif %}
                {% if section.settings.show_feature_3 %}
                <div class="collection-main-feature">
                    {% include 'responsive-image' with
                image: section.settings.feature_3_img,
                max_width: 100,
                max_height: 100
              %}
                    <p class="collection-main-feature-text">{{ section.settings.feature_3_text | escape }}</p>
                </div>
                {% endif %}
            </div>
            <h2 class="collection-main-h2">{{ section.settings.tagline | escape }}</h2>
            <div class="collection-main-testimonial">
                {% include 'responsive-image' with
                image: section.settings.testimonial_img,
                max_width: 50,
                max_height: 50 %}
                <div class="collection-main-testimonial-text">
                    <p class="collection-main-testimonial-text-p">{{ section.settings.testimonial_body | escape }}</p>
                    <span
                        class="collection-main-testimonial-text-span">{{ section.settings.testimonial_author | escape }}</span>
                </div>
            </div>
        </main>
    </div>
    <div class="collection-products">
        {% for product in collection.products limit: 3 %}
        <div class="collection-product">
            <aside class="collection-product-aside">
                {% include 'responsive-image' with
                    image: product.featured_image,
                    max_width: 100,
                    max_height: 100
                  %}
            </aside>
            <main class="collection-product-main">
                <p>{{ product.title | escape }}</p>
                <span>
                    {% if product.compare_at_price > product.price %}
                    {% if product.price_varies %}
                    {%- assign sale_price = product.price | money -%}
                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                    {{ 'products.product.on_sale' | t }}
                    {{ product.price | money }}
                    {% endif %}
                    {% else %}
                    {% if product.price_varies %}
                    {%- assign price = product.price | money -%}
                    {{ 'products.product.from_text_html' | t: price: price }}
                    {% else %}
                    {{ product.price | money }}
                    {% endif %}
                    {% endif %}
                </span>
            </main>
        </div>
        {% endfor %}
    </div>
</section>

{%- comment -%}
  ___     _                   
 / __| __| |_  ___ _ __  __ _ 
 \__ \/ _| ' \/ -_) '  \/ _` |
 |___/\__|_||_\___|_|_|_\__,_|

{%- endcomment -%}

{% schema %}
    {
        "name":"Collection extended",
        "settings":[
        {
            "type":"text",
            "id":"index",
            "label":"Index"
        },
        {
            "type":"header",
            "content":"Images"
        },
        {
            "type":"image_picker",
            "id":"collection_img",
            "label":"Collection image"
        },
        {
            "type":"header",
            "content":"Headline"
        },
        {
            "type":"text",
            "id":"headline",
            "label":"Headline"
        },
        {
            "type":"header",
            "content":"Feature 1"
        },
        {
            "type":"checkbox",
            "id":"show_feature_1",
            "label":"Show feature 1"
        },
        {
            "type":"image_picker",
            "id":"feature_1_img",
            "label":"Feature 1 image"
        },
        {
            "type":"textarea",
            "id":"feature_1_text",
            "label":"Feature 1 text"
        },
        {
            "type":"header",
            "content":"Feature 2"
        },
        {
            "type":"checkbox",
            "id":"show_feature_2",
            "label":"Show feature 2"
        },
        {
            "type":"image_picker",
            "id":"feature_2_img",
            "label":"Feature 2 image"
        },
        {
            "type":"textarea",
            "id":"feature_2_text",
            "label":"Feature 2 text"
        },
        {
            "type":"header",
            "content":"Feature 3"
        },
        {
            "type":"checkbox",
            "id":"show_feature_3",
            "label":"Show feature 3"
        },
        {
            "type":"image_picker",
            "id":"feature_3_img",
            "label":"Feature 3 image"
        },
        {
            "type":"textarea",
            "id":"feature_3_text",
            "label":"Feature 3 text"
        },
        {
            "type":"header",
            "content":"Tagline"
        },
        {
            "type":"text",
            "id":"tagline",
            "label":"Tagline"
        },
        {
            "type":"header",
            "content":"Testimonial"
        },
        {
            "type":"image_picker",
            "id":"testimonial_img",
            "label":"Tesimonial Image"
        },
        {
            "type":"textarea",
            "id":"testimonial_body",
            "label":"Body"
        },
        {
            "type":"textarea",
            "id":"testimonial_author",
            "label":"Author"
        },
        {
            "id":"collection",
            "type":"collection",
            "label":"Collection"
        }
        ],
        "presets":[
        {
            "name":"Collection extended",
            "category":"Collection"
        }
        ]
    }
{% endschema %}

{%- comment -%}
  ___ _        _        
 / __| |_ _  _| |___ ___
 \__ \  _| || | / -_|_-<
 |___/\__|\_, |_\___/__/
          |__/          
{%- endcomment -%}

{% stylesheet %}
    .collection {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .collection-aside {
    }
    .collection-main {
        flex: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .collection-main-h1 {
        padding: 0em 1em;
    }
    .collection-main-h2 {
        padding: 0em 1em;
    }
    .collection-main-features {
        display: flex;
        overflow-x: auto;
        width: 100%;
        max-width: 100vw;
    }
    .collection-main-feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 10em;
        text-align: center;
        margin: auto;
    }
    .collection-main-testimonial {
        display: flex;
        justify-content: center;
    }
    .collection-main-testimonial-text {
        text-align: right;
        margin: 0em 0em 0em 1em;
        max-width: 50%;
    }
    .collection-main-testimonial-text-span {
        font-weight: bold;
    }
    .collection-products {
        display: flex;
        justify-content: flex-end;
    }
    .collection-product {
        display: flex;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 1em 2.5em 1em 1em;
    }

    @media (min-width: 900px) {
        .collection {
            width: 75%;
            flex-direction: row;
        }
        .collection-main-h1 {
            padding: 0;
        }
        .collection-main-h2 {
            padding: 0;
        }
      }
{% endstylesheet %}

