<div class="collection" id="collection-extended-{{ section.settings.index }}">
        <aside class="collection-aside">
            <img src="{{ section.settings.collection_img | img_url: '500x500' }}">
        </aside>
        <main class="collection-main">
            <h1 class="collection-main-h1">{{ section.settings.headline }}</h1>
            <ul class="collection-main-features">
                <li class="collection-main-feature">
                    <img src="{{ section.settings.feature_1_img | img_url: '100x100' }}">
                    <p class="collection-main-feature-p">{{ section.settings.feature_1_text }}</p>
                </li>
            </ul>
            <h3 class="collection-main-h3">{{ section.settings.tagline }}</h3>
            <div class="collection-main-testimonial">
                <img src="{{ section.settings.feature_1_img | img_url: '50x50' }}">
                <p class="collection-main-feature-text">
                    {{ section.settings.testimonial_body }}
                        <br>
                    <strong>{{ section.settings.testimonial_author }}</strong>
                </p>
            </div>
        </main>
    </div>
    
    {% stylesheet 'scss' %}
        
    {% endstylesheet %}