<div class="credibility">
  <aside class="credibility-aside" class="desktop">
      <img src="{{ section.settings.main_img | img_url: '500x250' }}" class="desktop">
  </aside>
  <main class="credibility-main">
      <h3 class="credibility-main-h3">{{ section.settings.title }}</h3>
      <ul class="credibility-main-reasons">
          {% if section.settings.reason_1 %}
          <li class="credibility-main-reason">
              <img src="{{ section.settings.reason_1_img | img_url: '75x75' }}">
              <p class="credibility-main-reason-p">{{ section.settings.reason_1_text }}</p>
          </li>
          {% endif %}
          {% if section.settings.reason_2 %}
          <li class="credibility-main-reason">
              <img src="{{ section.settings.reason_2_img | img_url: '75x75' }}">
              <p class="credibility-main-reason-p">{{ section.settings.reason_2_text }}</p>
          </li>
          {% endif %}
          {% if section.settings.reason_3 %}
          <li class="credibility-main-reason">
              <img src="{{ section.settings.reason_3_img | img_url: '75x75' }}">
              <p class="credibility-main-reason-p">{{ section.settings.reason_3_text }}</p>
          </li>
          {% endif %}
      </ul>
  </main>
</div>

{% schema %}
{
  "name":"Credibility",
  "settings":[
    {
        "type":"header",
        "content":"Main Image"
    },
    {
        "type":"checkbox",
        "id":"show_main_image",
        "label":"Show main image"
    },
    {
        "type":"image_picker",
        "id":"main_img",
        "label":"Main image"
    },
    {
        "type":"header",
        "content":"Title"
    },
    {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Why choose us?"
    },
    {
        "type":"header",
        "content":"Reason 1"
    },
    {
        "type":"checkbox",
        "id":"reason_1",
        "label":"Show"
    },
    {
        "type":"image_picker",
        "id":"reason_1_img",
        "label":"Image"
    },
    {
        "type":"textarea",
        "id":"reason_1_text",
        "label":"Text"
    },
    {
        "type":"header",
        "content":"Reason 2"
    },
    {
        "type":"checkbox",
        "id":"reason_2",
        "label":"Show"
    },
    {
        "type":"image_picker",
        "id":"reason_2_img",
        "label":"Image"
    },
    {
        "type":"textarea",
        "id":"reason_2_text",
        "label":"Text"
    },
    {
        "type":"header",
        "content":"Reason 3"
    },
    {
        "type":"checkbox",
        "id":"reason_3",
        "label":"Show"
    },
    {
        "type":"image_picker",
        "id":"reason_3_img",
        "label":"Image"
    },
    {
        "type":"textarea",
        "id":"reason_3_text",
        "label":"Text"
    }
  ],
  "presets":[
    {
        "name":"Credibility",
        "category":"Store Information"
    }
  ]
}
{% endschema %}

{% stylesheet 'scss' %}
.credibility {
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.credibility-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}
.credibility-main-h3 {
    margin: 1em 1em 0em 1em;
}
.credibility-main-reasons {
    display: flex;
    flex: auto;
    align-items: center;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
.credibility-main-reason {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1em 1.5em;
}
.credibility-main-reason-p {
    min-width: 7.5em;
    max-width: 10em;
    margin: 0em 0em 0em 1em;
}
@media (min-width: 900px) {
    .credibility-aside {
        display: flex;
    }
    .credibility-main-reason {
        padding: 1em 2.5em;
    }
}
{% endstylesheet %}